<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>ToDo - Renato Ferraz</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <!--<link href="/css/style.css" rel="stylesheet"/>-->
</head>

<body>

<div class="container">
    <div class="jumbotron">
        <h1 align="center">ToDo - Renato Ferraz</h1>
    </div>

    <div align="center">
        <a class="btn btn-primary" href="/tarefas/listar">Iniciar ToDo</a>
    </div>
    <hr/>

    <footer class="footer">
        <div align="center">Desenvolvido por: Renato Ferraz</div>
        <div align="center">(84) 99206-6560</div>
    </footer>
</div>
</body>
</html>